<!DOCTYPE html>
<html>
<head>
	<title>Registration</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">
	</script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="./css/index.css">
</head>
<style>
    body {
    color: grey;
    font-family: 'Lato';
    text-align: center;
    background: #66cc99;
    margin: 30px;
  }
  
  h1 {
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
  
  .form-container {
    text-align: left;
    background: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    padding: 20px;
  }
  
  label {
    color:  #66cc99;
    text-transform: uppercase;
  }
  
  input {
    background: transparent;
    font-size: 14px;
    display: block;
    padding: 10px 30px 10px 5px;
    margin: 10px 0 40px;
    border: 2px solid white;
    border-bottom: 2px solid grey;
  }
  
  input:focus {
    outline: none;
    border-bottom: 2px solid #66cc99;;
  }
  
  .radio-question input {
    margin: 10px;
    padding: 0;
  }
  
  .radio-input {
    display: inline;
  }
  
  .button {
    background: #66cc99;
    border: 0;
    padding: 15px 30px;
    margin-top: 20px;
    color: white;
    text-transform: uppercase;
    font-size: 13px;
  }
  
  .button:hover {
    background: #5ec190;
  }
  .password-rules {
    font-size: 10px;
    margin-top: -20px;
    margin-bottom: 40px;
  }
  .error-message {
    color: red;
    margin-top: -30px;
    margin-bottom: 20px;
    font-size: 12px;
  }
        
</style>
<body>
	<h1>Registration form</h1>
	<div class="form-container">
<form action ='/'method='post' name="registerForm" id="form1" enctype="multipart/form-data">
		<label for="firstName">Name *</label>
		<input type="text"  id="Name" name="name" placeholder="John" required/><p class="error-message"></p>
		<label for="College">College *</label>
		<input type="text" id="lastName" name="college"placeholder="" required/>
		<p class="error-message"></p>
		<label for="e-mail">Email Id *</label>
		<input type="email" id ="date_of_birth"name='email' placeholder="abd@gmail.com"required/>
		<p class="error-message"></p>
		<label for="Mobile">Mobile Number *</label>
		<input  type ='text'id ="designation" name='mobile' placeholder="" required />
		<p class="error-message"></p>
		<label for="teamLeader">Roll Number *</label>
		<input  type ='text'id ="teamLeader"name='rollno' placeholder="" required/>
		<p class="error-message"></p>
		<input id="loginbtn" class="button" type="submit" value="submit" name="submit" />
		</div>
		

</form>
<div class="mssg bg-danger">
	<span id="check"></span>
</div>
<div>
	<span>Already Registered! <a href="/login">Login</a></span>
</div>
<div id="LangTable"><a href="/login" id="aa"></a>
</div>
</div>
</body>
</html>
