<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Questions</title>
</head>
<body>
    <div id="container">
        <form action="/createQuestions" method="post">
            <label for="Directions">Directions</label><br>
            <input type="text" name="directions"><br>
            <label for="Image"> Upload Image</label><br>
            <input type="image" name="image"><br>
            <label for="options">options</label><br>
            <input type="text" name="options" id=""><br>
            <label for="answer">correctAnswer</label><br>
            <input type="text" name="answer"><br>
            <button>submit</button>
        </form>
    </div>
</body>
</html>